/* Skeleton customizations */
button[disabled] {
  color: grey;
  border-color: grey;
  cursor: not-allowed;
}

button,
button:focus {
  color: #73e4d8;
  border-color: #73e4d8;
}

button:hover:not([disabled]) {
  color: white;
  border-color: white;
}

input[type='text'] {
  background: #263b44;
  border-color: #73e4d8;
  width: 100%;
}

input[type='text']:active {
  border-color: white;
}

input[type='text']:focus {
  border-color: white;
}

body {
  background-color: #263b44;
}

.App {
  text-align: center;
  font-family: 'Cabin', sans-serif;
  color: #73e4d8;
}

.underline {
  text-decoration: underline;
}

.center-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
