<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Meme Bot</h1>
  </div>
</div>
<div class="container">
  <div class="row"></div> <!-- row -->
    <p>Create a meme video.</p>
    <a type="button" class="btn btn-lg btn-default" href="">Go!</a>
</div>
</body>
</html>
